  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    padding : 10px ;
    margin-bottom: 90px;
    background-color: #ffffff;
  }
  div.image {
    padding-right : 20px;
    padding-top: 20px;
    float:left;

  }